/* Typography */
h1 {
	font-size: var(--font-size-larger);
}

h2 {
	font-size: 2em;
	font-weight: 300;
	position: relative;
}

h2:before {
	background: var(--color-crimson);
	content: " ";
	height: 1em;
	margin-left: -2rem;
	position: absolute;
	width: 1rem;
}

/* Global elements */
html {
	background: #fff;
}

main {
	border: 1px solid rgba(128, 128, 128, .1);
	border-width: 0 1px;
	font-family: var(--global-font-family);
	font-size: var(--font-size-body);
	line-height: var(--global-font-line-height);
	margin: 0 var(--global-spacing) 0 calc(var(--global-spacing) + 198px);
	position: relative;
}

main:before {
	border: 1px solid rgba(128, 128, 128, .1);
	border-width: 0 1px;
	content: " ";
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 25%;
	visibility: visible;
	width: 50%;
}

main:after {
	background: rgba(128, 128, 128, .1);
	content: " ";
	height: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	visibility: visible;
	width: 1px;
	z-index: -1;
}

#spine #glue:before {
	border-right: 1px solid #868686;
}
