.wp-block-image img {
	display: flex;
}

.wp-block-image .alignright {
	margin: var(--global-spacing) calc(var(--global-spacing) * -1) var(--global-spacing) var(--global-spacing);
}

@media (min-width: 721px) {

	.wp-block-image .alignright img {
		border-radius: 7px 0 0;
	}

	.wp-block-image .alignright figcaption {
		border-radius: 0 0 0 7px;
	}
}

.wp-block-image .alignleft {
	margin: var(--global-spacing) var(--global-spacing) calc(var(--global-spacing) / 2) 0;
}

.wp-block-image figcaption {
	background: var(--color-gray-transparent);
	color: var(--color-gray);
	font-size: .8em;
	font-weight: 300;
	padding: calc(var(--global-spacing) / 2) calc(var(--global-spacing) / 2);
	margin: 0;
	text-align: center;
}

@media (max-width: 720px) {

	.wp-block-image .alignright,
	.wp-block-image .alignleft {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}

.alignwide {
	margin: var(--global-spacing) calc(var(--global-spacing) * -1);
	width: calc(100% + calc(var(--global-spacing) * 2));
	max-width: none;
}

.alignfull {
	margin: var(--global-spacing) calc(var(--global-spacing) * -2.5);
	width: calc(100% + (var(--global-spacing) * 2.5 * 2));
	max-width: none;
}

/*** Hero ***/
.hero {
	background-image: radial-gradient(circle at 10% 30%, rgba(222, 222, 222, .1) 10%, rgba(0, 0, 0, .15) 80%);
	margin-top: 0;
	min-height: 100vh;
	position: relative;
}

.hero:after {
	background-image: url(./images/connect-dots.png);
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.hero .wp-block-group__inner-container {
	padding: calc(var(--global-spacing) * 3) calc(var(--global-spacing) * 1.5) calc(var(--global-spacing) * 2) calc(var(--global-spacing) * 2.5);
	position: relative;
	max-width: 600px;
	z-index: 1;
}

.hero h1 {
	font-size: 2.5em;
}

.hero-sup {
	color: var(--color-crimson);
	display: block;
	font-size: 1.125rem;
	font-weight: 300;
	margin-bottom: var(--global-spacing);
}

.hero-ctas {
	margin-top: var(--global-spacing);
}

.hero-ctas .wp-block-column {
	margin-top: var(--global-spacing);
}

@media (min-width: 650px) {

	.hero h1 {
		font-size: 4em;
	}

	.hero-ctas .wp-block-column {
		margin-top: calc(var(--global-spacing) * 3);
	}
}

.hero-ctas h3 {
	color: var(--color-crimson);
	font-size: var(--font-size-regular);
	font-weight: 400;
	line-height: var(--global-font-line-height);
	margin: 0;
}

.hero-ctas p {
	margin: 0;
}

.hero-ctas p a {
	color: var(--color-gray-dark);
	font-weight: 300;
	text-decoration: none;
}

/*** Scrolling Sections ***/
.wp-block-happyprime-scrolling-sections.alignfull {
	margin-top: 0;
}

.admin-bar .wp-block-happyprime-scrolling-sections.alignfull {
	margin-top: -32px;
}

.spine-mobile #binder .wp-block-happyprime-scrolling-sections {
	margin-top: -50px;
}

.spine-mobile #binder .wp-block-happyprime-scrolling-sections article {
	padding-top: 50px;
}
