.wp-block-image img {
	display: flex;
}

.wp-block-image .alignright {
	margin: var(--global-spacing) calc(var(--global-spacing) * -1) var(--global-spacing) var(--global-spacing);
}

@media (min-width: 721px) {

	.wp-block-image .alignright img {
		border-radius: 7px 0 0;
	}

	.wp-block-image .alignright figcaption {
		border-radius: 0 0 0 7px;
	}
}

.wp-block-image .alignleft {
	margin: var(--global-spacing) var(--global-spacing) calc(var(--global-spacing) / 2) 0;
}

.wp-block-image figcaption {
	background: var(--color-gray-transparent);
	color: var(--color-gray);
	font-size: .8em;
	font-weight: 300;
	padding: calc(var(--global-spacing) / 2) calc(var(--global-spacing) / 2);
	margin: 0;
	text-align: center;
}

@media (max-width: 720px) {

	.wp-block-image .alignright,
	.wp-block-image .alignleft {
		float: none;
		margin-right: auto;
		margin-left: auto;
	}
}

.alignwide {
	margin: var(--global-spacing) calc(var(--global-spacing) * -1);
	width: calc(100% + calc(var(--global-spacing) * 2));
	max-width: none;
}

.alignfull {
	margin: var(--global-spacing) calc(var(--global-spacing) * -2.5);
	width: calc(100% + (var(--global-spacing) * 2.5 * 2));
	max-width: none;
}
